* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/pattern.png);
  background-repeat: repeat;
  text-align: center;
  margin: 30px;
  font-family: 'Poppins', sans-serif;
}

header {
  height: 300px;
  width: 100%;
  background: yellow;
  z-index: 1;
}
.logo {
  top: 0;
  right:0;
  color: white;
}
.logo img {
  height: 120px;
}

.titolo {
  background: url(../img/header.jpg);
  background-size: cover;
  height: 75%;
  width: 100%;
  border: 15px solid white;
}
.menu {
  display: inline-block;
  height: 25%;
  width: 100%;
  background: grey;
}

.menu .list-main li{
  display: inline-block;
  list-style: none;
  top: 0;
  right: 0;
  transform: translate(0%, 100%);
  padding: 0 8%;
}
.menu li:hover {
  background: lightgrey;
}

main {
  height: 1200px;
  width: 100%;
  margin: 30px 0;
  background: blue;
  z-index:0;
}

.col {
  display: inline-block;
  height:200px;
  width: 25%;
  background: white;
  border-radius: 5px;

}
.col-center{
  width: 40%;
  margin: 0 3%;
}
.row {
  height: 30%;
  margin-bottom: 3%;
  border-radius: 5px;
  background: lightgrey;
}



footer {
  height: 200px;
  width: 100%;
  margin-top: 30px;
  background: red;
  z-index: 1;
}
