/* INIZIO RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* INIZIO STILI GENERICI */
body {
  background: url(../img/pattern.png);
  background-repeat: repeat;
  text-align: center;
  margin: 30px;
  font-family: 'Poppins', sans-serif;
}

header {
  height: 300px;
  width: 100%;
  z-index: 1;
}
/* FINE STILI GENERICI */

/* Inizio Stili Brand */
.logo {
  top: 0;
  right:0;
  color: white;
}
.logo img {
  height: 120px;
}

.titolo {
  background: url(../img/header.jpg);
  background-size: cover;
  height: 75%;
  width: 100%;
  border: 15px solid white;
}
/* Fine Stili Brand */

/* Inizio Stili Menu */
.menu {
  display: inline-block;
  color: white;
  font-weight: bold;
  height: 25%;
  width: 100%;
  background: grey;
}
.menu .list-main li{
  display: inline-block;
  list-style: none;
  top: 0;
  right: 0;
  padding: 25px 2%;
}
.menu li:hover {
  background: lightgrey;
  color: black;
  padding: solid
}
/* Fine Stili Menu */

main {
  width: 100%;
  margin: 30px 0;
  z-index:0;
}
main::after {
  content: '';
  display: table;
  clear: both;
}
/* Inizio Stili Colonne */
.col {
  float:left;
  width: 25%;
  background: white;
  border-radius: 5px;
}

.col-left h1 {
  margin-bottom: 25px;
}
.col-left ul li{
  color: green;
  font-weight:bold;
  list-style: none;
  text-align: left;
  margin-bottom: 4%;
  padding: 2%;
}

.col-center{
  text-align: left;
  width: 40%;
  margin: 0 3%;
}
.col-center h1 {
  padding: 0 2%;
  margin-bottom: 25px;
}
.col-center p {
  padding: 2%;
}

.col-right {
  background: none;
}

.row {
  height: 30%;
  margin-bottom: 3%;
  border-radius: 5px;
  background: white;
  padding: 0 2%;
}
.row h1 {
  margin-bottom: 25px;
}
.row p {
  padding: 2% 0;
}

/* Fine Stili Colonne */

/* Inizio Stili Footer */
footer {
  color: lightgrey;
  height: 100px;
  width: 100%;
  margin-top: 30px;
  background: white;
}
footer .icons li {
  float: left;
  color: red;
  text-align: center;
  height: 50px;
  width: 50px;
}

/* Fine Stili Footer */
